RedirectRule ^/index.html\?p=215 /2010/04/02/webtest-http-testing/
RedirectRule ^/index.html\?p=220 /2010/04/09/core-competencies-silver-lining-packaging/
RedirectRule ^/index.html\?p=224 /2010/04/21/silver-lining-more-people/
RedirectRule ^/index.html\?p=228 /2010/05/04/browser-desktop-developer-tools
RedirectRule ^/index.html\?p=234 /2010/08/17/surveillance-security-privacy-politics/
RedirectRule ^/index.html\?p=237 /2010/08/18/net-neutrality-forcing-companies-to-pay-attention-to-their-networks/
RedirectRule ^/index.html\?p=239 /2010/09/12/doctest-js-callbacks/
RedirectRule ^/index.html\?p=245 /2011/03/30/js-on-server-and-client-is-not-a-big-deal/
RedirectRule ^/index.html\?p=250 /2011/03/31/python-webapp-package/
RedirectRule ^/index.html\?p=253 /2011/04/04/unsolicited-advice-for-pypy/
RedirectRule ^/index.html\?p=277 /2012/02/14/git-as-sync-not-source-control-as-deployment/
RedirectRule ^/index.html\?p=283 /2012/02/29/python-application-package/
RedirectRule ^/index.html\?p=291 /2012/10/02/why-doctest-js-is-better-than-pythons-doctest/
RedirectRule ^/index.html\?p=38 /2008/01/12/what-php-deployment-gets-right/
