{% extends "base.html" %} {% block content %}
<section id="content" class="body">
    <h1>Archives for {{ SITENAME }}</h1>

    <dl>
        {% for article in dates %}
        <dt>{{ article.locale_date }}</dt>
        <dd>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </dd>
        {% endfor %}
    </dl>

    In addition there are archives from the previous incarnation of the
    software:

    <ul>
        <li>
            <a href="{{ SITEURL }}/archive/archive/">Archives from 2003-2007</a>
        </li>
        {{ EXTRA_ARCHIVE }}
    </ul>
</section>

{% endblock %}
