<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block extra_head %}{% endblock %}
        {% assets filters="less", output="css/style.min.css", "css/main.less" %}
          {# ASSET_URL isn't working? #}
          <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.min.css">
        {% endassets %}
        <!--<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />-->
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        <link rel="icon" href="{{ SITEURL }}/favicon.ico">

</head>

<body id="index" class="home">
  <div id="main-wrapper1">
  <div id="main-wrapper2">
  <div id="main-container">
{% include 'github.html' %}
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}">{% block innertitle %}{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}{% endblock %}</a></h1>
                {% if SITETAGLINE %}
                <div id="tagline">{{SITETAGLINE}}</div>
                {% endif %}
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}
        <section id="extras" class="body">
                <div class="links">
                  <h2><a href="{{ SITEURL }}">here</a></h2>
                  <ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endif %}
                    <li><a href="{{ SITEURL }}/archives.html">archives</a> &amp; <a href="{{ SITEURL }}/categories.html">categories</a></li>
                {% block category %}
                {% for cat, null in categories %}
                    <li><a href="{{ SITEURL }}/{{ cat.url }}">category: {{ cat }}</a></li>
                {% endfor %}
                {% endblock %}
                    </ul>
                </div>
        {% if LINKS %}
                <div class="blogroll">
                        <h2>blogroll</h2>
                        <ul>
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL %}
                <div class="social">
                        <h2>elsewhere</h2>
                        <ul>
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
                            {% if FEED_RSS %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
                            {% endif %}

                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.social -->
        {% endif %}
                <div class="archives">
                  <h2><a href="{{ SITEURL }}/blog/">recent posts</a></h2>
                  <ul>
                    {% for article in dates[:10] %}
                    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div><!-- /.archives -->

                <div class="widgets">
                  <h2><a href="https://twitter.com/ianbicking">tweets</a></h2>
                  <a class="twitter-timeline" width="230" height="500" href="https://twitter.com/ianbicking" data-widget-id="319849964417187842" data-link-color="#aaae94">Tweets by @ianbicking</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </div><!-- /.widgets -->

        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
          This is the personal site of <a href="/">Ian Bicking</a>.  The opinions expressed here are my own.
        </footer><!-- /#contentinfo -->

<script src="/theme/instantclick.min.js"></script>
{% include 'analytics.html' %}
{% include 'piwik.html' %}
{% include 'disqus_script.html' %}
        </div><!-- /#main-container -->
        </div><!-- /#main-wrapper2 -->
        </div><!-- /#main-wrapper1 -->
</body>
</html>
