{% extends "base.html" %}
{% block title %}{{ SITENAME }} <small>[categories]</small>{% endblock %}
{% block content %}
<div id="featured" class="body">
<ul>
{% for category, articles in categories %}
	<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
{% endfor %}
</ul>

Also from my previous blog software, the categories:

<ul>
  <li><a href="{{ SITEURL }}/category/html/">HTML</a></li>
  <li><a href="{{ SITEURL }}/category/javascript/">Javascript</a></li>
  <li><a href="{{ SITEURL }}/category/notech/">non-technical</a></li>
  <li><a href="{{ SITEURL }}/category/packaging/">packaging</a></li>
  <li><a href="{{ SITEURL }}/category/politics/">politics</a></li>
  <li><a href="{{ SITEURL }}/category/programming/">programming</a></li>
  <li><a href="{{ SITEURL }}/category/python/">Python</a></li>
  <li><a href="{{ SITEURL }}/category/ruby/">Ruby</a></li>
  <li><a href="{{ SITEURL }}/category/web/">web</a></li>
</ul>

</div>


{% endblock %}
