{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block innertitle %}{{ GETATTR(page, "pagetitle", None) or page.title }}{% endblock %}
{# suppressing categories on pages: #}
{% block category %}{% endblock %}
{% block extra_head %}{{ GETATTR(page, "extrahead", None) or "" }}{% endblock %}
{% block content %}
<section id="content" class="body">
    {% if not GETATTR(page, "pagetitle", None) %}
      <h1 class="entry-title">{{ page.title }}</h1>
    {% endif %}
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a>{% endif %}
    {{ page.content }}
</section>
{% endblock %}
