.hll {
background-color:#FFFFCC;
}
.c {
color:#408090;
font-style:italic;
}
.err {
border:1px solid #FF0000;
}
.k {
color:#49c76d;
font-weight:bold;
}
.o {
color:#888888;
}
.cm {
color:#408090;
font-style:italic;
}
.cp {
color:#4cca70;
}
.c1 {
color:#408090;
font-style:italic;
}
.cs {
background-color:#FFF0F0;
color:#408090;
}
.gd {
color:#A00000;
}
.ge {
font-style:italic;
}
.gr {
color:#FF0000;
}
.gh {
color:#000080;
font-weight:bold;
}
.gi {
color:#00A000;
}
.go {
color:#b47171;
}
.gp {
color:#C65D09;
font-weight:bold;
}
.gs {
font-weight:bold;
}
.gu {
color:#800080;
font-weight:bold;
}
.gt {
color:#0040D0;
}
.kc {
color:#007020;
font-weight:bold;
}
.kd {
color:#007020;
font-weight:bold;
}
.kn {
color:#72edaf;
font-weight:bold;
}
.kp {
color:#72edaf;
}
.kr {
color:#72edaf;
font-weight:bold;
}
.kt {
color:#902000;
}
.m {
color:#208050;
}
.s {
color:#4070A0;
}
.na {
color:#4070A0;
}
.nb {
color:#19e653;
}
.nc {
color:#0E84B5;
font-weight:bold;
}
.no {
color:#60ADD5;
}
.nd {
color:#555555;
font-weight:bold;
}
.ni {
color:#D55537;
font-weight:bold;
}
.ne {
color:#5be682;
}
.nf {
color:rgb(121, 159, 254);
}
.nl {
color:#1658fe;
font-weight:bold;
}
.nn {
color:#0E84B5;
font-weight:bold;
}
.nt {
color:#2561e3;
font-weight:bold;
}
.nv {
color:#BB60D5;
}
.ow {
color:#56ca77;
font-weight:bold;
}
.w {
color:#BBBBBB;
}
.mf {
color:#72edaf;
}
.mh {
color:#72edaf;
}
.mi {
color:#72edaf;
}
.mo {
color:#72edaf;
}
.sb {
color:#4070A0;
}
.sc {
color:#4070A0;
}
.sd {
color:#4070A0;
font-style:italic;
}
.s2 {
color:#95caff;
}
.se {
color:#4070A0;
font-weight:bold;
}
.sh {
color:#4070A0;
}
.si {
color:#70A0D0;
font-style:italic;
}
.sx {
color:#C65D09;
}
.sr {
color:#4a7aac;
}
.s1 {
color:#95caff;
}
.ss {
color:#517918;
}
.bp {
color:#57d87c;
}
.vc {
color:#BB60D5;
}
.vg {
color:#BB60D5;
}
.vi {
color:#BB60D5;
}
.il {
color:#208050;
}
